.fila-tabla{
    display: flex;
      gap: 200px;
      background-color:#A0A0A0 ;
      padding: 10px;
    
}
.fila-tabla > div {
    width: 80%;
    gap: 200px;
    margin-left: 20px;
    text-align: center;
    background-color: #A0A0A0;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cabecera-tabla{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    height: 50px;
    background-color: blue;
    border: 2px  mediumblue;
    /* margin-top: 10px;
    margin-left: 8px;
    margin-right: 8px; */
    border-radius: 12px;
    padding: 5px;
    
    }

    .border {
    border-radius: 12px;
    background-color:#A0A0A0;
     width: 80%;
     height: 280px;
     padding: 5px;
      }

h2{
 font-size: 50px;
 

  
    
}
.cabecera-tabla > div {
    background-color: blue;
}
.align{
    margin: 90px;
}

.top {
    text-align: center;
}
